<div class="page-preview">
    @if (HasPage && PreviewUrl is not null)
    {
        <img class="page-preview__image" src="@PreviewUrl" alt="Selected scanned page" />
    }
    else
    {
        <div class="page-preview__placeholder">
                <MudIcon Icon="@Icons.Material.Filled.Description"
                         Size="Size.Large"
                         Color="Color.Secondary"/>
                <MudText Typo="Typo.h6">No page selected</MudText>
        </div>
    }
</div>
