<div class="device-list">
    <button class="device-list__item device-list__item--selected"
            type="button">
        <div class="device-list__icon">
            <MudIcon Icon="@Icons.Material.Filled.DocumentScanner" Size="Size.Large"/>
        </div>

        <div class="device-list__body">
            <MudText Typo="Typo.subtitle1">Mock Scanner</MudText>

            <div class="device-list__badges">
                <StatusBadge Label="Scan"
                             Icon="@Icons.Material.Filled.DocumentScanner"
                             Color="Color.Primary"/>
            </div>
        </div>
    </button>

    <button class="device-list__item"
            type="button">
        <div class="device-list__icon">
            <MudIcon Icon="@Icons.Material.Filled.Print" Size="Size.Large"/>
        </div>

        <div class="device-list__body">
            <MudText Typo="Typo.subtitle1">Printer support</MudText>

            <div class="device-list__badges">
                <StatusBadge Label="Print"
                             Icon="@Icons.Material.Filled.Print"/>
            </div>
        </div>
    </button>
</div>
